*{
    font-family: 'roboto';
    color: white;
}
body{
    background-color: grey;
}
.judul{
    /* background-color: palevioletred; */
    /* background-color: rgb(44, 117, 44); */
    background-color: rgb(49, 182, 182);
    padding: 10px;
    text-align: center;
}

.judul h1,h2,h3 {
    height: 15px;
}

a{
    padding: 5px;
    text-decoration: none;
}

.table{
    border-collapse: collapse;
    border-color: blueviolet;
}

table.table th th, table.table tr td {
    padding: 10px 20px;
}

form{
    color: black;
}


